html {
    /* scroll-behavior: smooth; */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    font-size: 24px;
    line-height: 50px;
}


/* .navbar1 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100vw;
    height: 10vh;
    z-index: 1;
} */

.aNav,
.lang {
    margin: 15px;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
}

.aNav:hover,
.lang:hover {
    text-decoration: none;
    color: floralwhite;
}

.selectLang {
    background-color: #d4d7de;
    color: floralwhite;
    border-color: #d4d7de;
    margin-right: 15%;
    border: 0px;
    outline: 0px;
}

.optionLang:hover {
    background-color: floralwhite;
}

.langs {
    display: flex;
    margin-right: 2vw;
}

.banner-area {
    /* position: relative; */
    background-image: url(/images/mountain.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    background-position: center center;
    background-size: cover;
}

.h2Status {
    margin: auto;
    color: floralwhite;
    font-size: 5vw;
    border: solid;
    border-radius: 8vh;
    padding: 1vw;
    text-shadow: 4px -2px 4px black;
}

.about-area,
.port-area,
.service-area,
.contact-area {
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part {
    width: 65%;
    height: 80%;
}

.about-area {
    background-color: #fefefe;
}

.port-area {
    background-color: #262626;
    color: #fff;
}

.service-area {
    background-color: #fefefe;
}

.contact-area {
    background-color: #262626;
    color: #fff;
}

.txt {
    width: max-content;
    position: relative;
    display: grid;
    margin-left: 2vw;
}

h1 {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    color: #808080;
    text-shadow: 1px -2px 3px floralwhite;
}

.cover {
    font-size: 210%;
    width: 100%;
    background-color: #d4d7de;
    font-weight: bold;
    position: relative;
    height: 7vh;
    margin: -55px auto;
    animation: rev 3.3s 1.1s steps(21) forwards;
}

.cover b {
    color: #808080;
    animation: blink 11s forwards;
    user-select: none;
}

@keyframes rev {
    0% {
        width: 100%;
        margin-right: 0;
    }
    100% {
        width: 0%;
        margin-right: 0;
    }
}

@keyframes blink {
    /*Before*/
    0% {
        opacity: 1;
    }
    2.5% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    7.5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    11.5% {
        opacity: 0.4;
    }
    /*Typing*/
    11.75% {
        opacity: 1;
    }
    41.75% {
        opacity: 1;
    }
    /*After*/
    42.5% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    47.5% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    52.5% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    57.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* @media (min-width: 654px) {
    .aNavIcon {
        display: none;
    }
} */


/* @media screen and (max-width: 991px) {}

@media screen and (max-width: 850px) {
    a {
        font-size: 12px;
    }
    .selectLang {
        font-size: 12px;
    }
    .lang {
        margin: 7px;
    }
    .name {
        font-size: 25px;
    }
} */

@media screen and (max-width: 1199px) {
    a {
        font-size: 14px;
    }
    .selectLang {
        font-size: 14px;
    }
    .lang {
        margin: 7px;
    }
    .name {
        font-size: 30px;
    }
}

*/
/* @media screen and (max-width: 767px) {
    a {
        font-size: 11px;
    }
    .selectLang {
        font-size: 11px;
    }
    .lang {
        margin: 6px;
    }
} */


/* @media screen and (min-width: 671px) {
    .header {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .nav,
    .langs,
    .aNav {
        display: none;
    }
    .txt {
        margin: auto;
    }
} */


/* @media screen and (max-width: 479px) {
    .aTxt {
        margin: auto;
    }
}

.header {
    height: 100%;
    width: 50px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #d4d7de;
}

.aBgr {
    color: floralwhite;
    font-size: 15px;
    text-transform: uppercase;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: floralwhite;
    color: #808080;
} */


/* /////////////////////////////////////////////////// */

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}


/* .header-area {
    background: url(/images/mountain.jpg);
    background-position: center center;
    background-size: cover;
} */


/* default css end */


/* navbar regular css start */

.navbar-area {
    background: #d4d7de;
    border-bottom: 1px solid floralwhite;
    position: fixed;
    width: 100vw;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
}


/* a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
} */

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100%;
    align-content: center;
}

.site-navbar ul li a {
    color: #808080;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navbar ul li a:hover {
    background: rgba(255, 255, 255, .1);
}


/* navbar regular css end */


/* nav-toggler css start */

.nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}


/* nav-toggler css start */


/* intro-area css start */


/* .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background-image: url(/images/mountain.jpg);
    background-position: center center;
    background-size: cover;
} */


/* .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
}

.intro-area p {
    font-size: 18px;
} */


/* intro-area css end */


/* mobile breakpoint start */

@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler {
        display: block;
        margin-left: 2vw;
    }
    .site-navbar {
        min-height: 10vh;
    }
    .site-navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 10vh);
        left: 0;
        top: 10vh;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #444;
        background-color: rgba(0, 0, 0, .75);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .navbar-area {
        border-bottom: none;
    }
    .site-navbar ul li {
        width: 100%;
        text-align: center;
    }
    .site-navbar ul li a {
        padding: 25px;
        margin-right: 30px;
        color: floralwhite;
    }
    .site-navbar ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
    }
    .site-navbar ul.open {
        max-height: 100vh;
        /* overflow: visible; */
    }
    .langs {
        margin-right: 30px;
    }
    /*     .intro-area h2 {
        font-size: 36px;
        margin-bottom: 15px;
    } */
    /* navbar css for mobile end */
}

@media screen and (max-width: 467px) {
    .langs {
        display: none;
    }
    .txt {
        margin: auto;
    }
    .aNav {
        color: floralwhite;
    }
}

.aBgr .aLang {
    padding: 10px;
    margin-left: 3vw;
}

@media screen and (min-width: 468px) {
    .aBgr {
        display: none;
    }
}


/* mobile breakpoint end */